<h1>Blocipedia</h2>
<h2>Click here to sign up or sign in!</h2>
<p>Enjoy the <%= link_to " wikis.", wikis_url %></p>
<p>
  <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %>
  <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
</p>
</div>
