<h1>Blocipedia</h2>
<h3>Enjoy the amazing wikis! <%= link_to "Wikis", wikis_path, class: 'btn btn-primary' %></h3>
<h3>Or check out our about page! <%= link_to "About", welcome_about_path, class: 'btn btn-primary' %></h3>
</div>
